* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#app,
.wrapper {
  width: 100%;
  height: 100%;

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $tp-text-color-primary;
}

/*flex布局*/
.tp-flex-warp {
  display: flex;
}

.tp-content-warp {
  height: 100%;
}

.tp-flex-con {
  flex: 1;
}

.tp-flex-con-2 {
  flex: 2;
}

.tp-flex-con-3 {
  flex: 3;
}

.tp-flex-con-4 {
  flex: 4;
}

.tp-flex-vertical {
  -webkit-box-orient: vertical;
  flex-flow: column;
}

//字体样式
.tp-link {
  color: $tp-color-primary;
}

//常用样式和边距
.tp-pl {
  padding-left: $tp-default-dis;
}

.tp-pr {
  padding-right: $tp-default-dis;
}

.tp-pt {
  padding-top: $tp-default-dis;
}

.tp-pb {
  padding-bottom: $tp-default-dis;
}

.tp-pv {
  padding-top: $tp-default-dis;
  padding-bottom: $tp-default-dis;
}

.tp-ph {
  padding-left: $tp-default-dis;
  padding-right: $tp-default-dis;
}

.tp-ml {
  margin-left: $tp-default-dis;
}

.tp-mr {
  margin-right: $tp-default-dis;
}

.tp-mt {
  margin-top: $tp-default-dis;
}

.tp-mb {
  margin-bottom: $tp-default-dis;
}

.tp-mv {
  margin-top: $tp-default-dis;
  margin-bottom: $tp-default-dis;
}

.tp-mh {
  margin-left: $tp-default-dis;
  margin-right: $tp-default-dis;
}

/*控制 display*/
.d-n,
[v-cloak] {
  display: none !important;
}

.d-ib {
  display: inline-block !important;
}

.d-b {
  display: block !important;
}

//字体控制
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

//浮动
.tp-fl {
  float: left;
}
.tp-fr {
  float: right;
}

/*清除浮动*/
.tp-clearfix:after {
  content: '';
  display: table;
  height: 0;
  clear: both;
}

// 滚动条整体部分
::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

// 滚动条两端的按钮
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

// 外层轨道
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
  border: solid 1px #121212;
  box-shadow: 0px 0px 3px #121212 inset;
  border-radius: 8px;
}

// 内层滚动槽
::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

// 滚动的滑块
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

// 滚动的滑块,鼠标放上时
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

// 表格页面
.tp-tabfilter {
  margin-bottom: $tp-default-dis;

  .el-card__body {
    padding-bottom: 0;
  }
}

.tp-manage-form {
  .ant-calendar-picker {
    width: 100% !important;
  }
}

.tp-table-card {
  .el-card__header {
    @extend .tp-clearfix;
    padding-bottom: 0;
    border: none;

    .tp-card-title {
      height: 22px;
      line-height: 22px;
      font-weight: $tp-font-weight-primary;
      color: $tp-color-primary;
      padding-left: $tp-default-dis;
      position: relative;
      top: 5px;
      &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto 0;
        content: '';
        display: block;
        width: 6px;
        height: 18px;
        border-radius: 3px;
        background-color: $tp-color-primary;
      }
    }
  }

  .el-table th.el-table__cell {
    background-color: $tp-table-head-bg-color;
    padding: 16px 0;
    // color: $tp-text-color-primary;
  }
}

//详情detailContainer
.tp-detail-card {
  .tp-detail-card-title {
    color: $tp-color-primary;
    font-size: $tp-font-size-medium;
  }
}

//dialog样式
.el-dialog {
  .el-dialog__header {
    border-bottom: 1px solid $tp-border-color-base;
    .el-dialog__title {
      color: $tp-color-primary;
    }
  }
  .el-dialog__body {
    padding: $tp-default-dis;
  }
  .el-dialog__footer {
    border-top: 1px solid $tp-border-color-base;
    text-align: center;
    padding: $tp-default-dis;
  }
}

//form
.el-form {
  // ::v-deep(.el-form-item__label) {
  // }
  .el-form-item__label {
    color: $tp-text-color-primary;
  }
}

.tp-form {
  .el-form-item:not(.tp-form-footer) {
    max-width: 600px;
  }
  .tp-form-footer.el-form-item {
    border-top: 1px solid $tp-border-color-base;
    padding-top: $tp-default-dis;
    text-align: center;
    margin: 0 (-$tp-default-dis);
  }
}
