//颜色
$jc-color-white: #ffffff !default;
$jc-color-black: #000000 !default;
$jc-color-transparent: #ffffff00 !default;

//长度
$jc-default-dis: 20px; //常用边距
$jc-default-item-height: 40px; //常用高度

//容器最小宽高
$jc-min-width: 1000px;
$jc-min-height: 500px;

//字体大小
$jc-font-size-extra-larger: 22px !default;
$jc-font-size-extra-large: 20px !default;
$jc-font-size-large: 18px !default;
$jc-font-size-medium: 16px !default;
$jc-font-size-base: 14px !default;
$jc-font-size-small: 13px !default;
$jc-font-size-extra-small: 12px !default;

$jc-font-weight-primary: 500 !default;

$jc-font-line-height-primary: 24px !default;

//borderRadius
$jc-border-radius-base: 4px !default;
$jc-border-radius-small: 2px !default;
$jc-border-radius-round: 20px !default;
$jc-border-radius-circle: 100% !default;

//树结构侧边菜单宽度
$jc-trees-width: 240px;

//header
$jc-header-height: 80px;

//超出隐藏设置
@mixin jc-text-warp($line: 0) {
  @if $line==0 {
    white-space: nowrap; //规定段落中的文本不进行换行
  } @else {
    width: 0;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    word-wrap: break-word; //允许长单词换行到下一行
  }

  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

//居中设置
@mixin jc-hcenter {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

@mixin jc-vhcenter {
  @include jc-hcenter;
  justify-content: center;
}

@mixin jc-close-animation {
  transform: rotate(0deg);
  transition: transform 0.4s;

  &:hover {
    transform: rotate(180deg);
  }
}
