//全局文本颜色
.tp-color-error {
  color: $tp-color-error;
}

.tp-color-danger {
  color: $tp-color-danger;
}

.tp-color-remind {
  color: $tp-color-remind;
}

.tp-color-warning {
  color: $tp-color-warning;
}

.tp-color-success {
  color: $tp-color-success;
}

//全局背景颜色
.tp-bg-color-error {
  background-color: $tp-color-error;
}

.tp-bg-color-danger {
  background-color: $tp-color-danger;
}

.tp-bg-color-remind {
  background-color: $tp-color-remind;
}

.tp-bg-color-warning {
  background-color: $tp-color-warning;
}

.tp-bg-color-success {
  background-color: $tp-color-success;
}
