//定制element主题风格

//主题色
$jc-color-primary: #1d69e6 !default;
$jc-color-success: #67c23a !default;
$jc-color-warning: #e6a23c !default;
$jc-color-danger: #f56c6c !default;
$jc-color-error: #f56c6c !default;
$jc-color-info: #909399 !default;

//文本颜色
$jc-text-color-primary: #303133 !default;
$jc-text-color-regular: #606266 !default;
$jc-text-color-secondary: #909399 !default;
$jc-text-color-placeholder: #c0c4cc !default;

//边框颜色
$jc-border-color-base: #dcdfe6 !default;
$jc-border-color-light: #e4e7ed !default;
$jc-border-color-lighter: #ebeef5 !default;
$jc-border-color-extra-light: #f2f6fc !default;

// 系统样式

//背景颜色
$jc-bg-color: #f5f5f5 !default;
