$jc-colors: (
  //多用为  组件内容背景色
  'white': $jc-content-bg-color,
  'black': black,
  'primary': (
    'base': $jc-color-primary
  ),
  'success': (
    'base': $jc-color-success
  ),
  'warning': (
    'base': $jc-color-warning
  ),
  'danger': (
    'base': $jc-color-danger
  ),
  'error': (
    'base': $jc-color-error
  ),
  'info': (
    'base': $jc-color-info
  )
);

$jc-text-color: (
  'primary': $jc-text-color-primary,
  'regular': $jc-text-color-regular,
  'secondary': $jc-text-color-secondary,
  'placeholder': $jc-text-color-placeholder
);

$jc-border-color: (
  'base': $jc-border-color-base,
  'light': $jc-border-color-light,
  'lighter': $jc-border-color-lighter,
  'extra-light': $jc-border-color-extra-light
);

$jc-box-shadow: (
  'base': (
    $jc-box-shadow-base,
    $jc-box-shadow-base2
  ),
  'light': $jc-box-shadow-light
);

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: $jc-colors,
  $text-color: $jc-text-color,
  $border-color: $jc-border-color,
  $box-shadow: $jc-box-shadow,
  $bg-color: $jc-bg-color
);

@use 'element-plus/theme-chalk/src/index.scss' as *;

.el-button {
  --el-color-white: white;
  --el-button-bg-color: $jc-content-bg-color;
}

.el-pager {
  --el-color-white: white;
}

.el-table {
  --el-table-text-color: $jc-text-color-primary;
}

// .el-checkbox {
//   --el-checkbox-text-color: $jc-text-color-primary;
// }

// .el-radio {
//   --el-radio-text-color: $jc-text-color-primary;
// }
